﻿@{
    ViewData["Title"] = "Inventario::AgregarProducto";
    Layout = "~/Views/Shared/_View.cshtml";

    List<Producto> listP = new List<Producto>(ViewBag.Message);
    List<Categoria> listC = new List<Categoria>(ViewBag.Message1);
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-boxes nav-icon"></i> Registrar Producto</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../../Home/home">Home</a></li>
                        <li class="breadcrumb-item active">Registrar Producto</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Registrar Producto</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="quickForm">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="nombreEmpresa">Nombre del Producto</label>
                            <input type="text" name="nombreproducto" class="form-control" id="nombreproducto" placeholder="Porfavor ingresar nombre del producto" minlength="3" maxlength="35">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cantidad</label>
                            <input type="number" name="cantidadproducto" class="form-control" id="cantidadproducto" placeholder="Cantidades" min="1" max="999" minlength="1">
                        </div>
                        <div class="form-group ">
                            <label for="Categoria">Categoria:</label>
                            <select id="categoria" class="form-control select2">
                                @foreach(Categoria c in listC)
                                    {
                                        <option value=@c.idCategoria> @Html.DisplayFor(modelItem => c.nombreCategoria)</option>
                                    }
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="button" id="add_product"  class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Lista de Productos</h3>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>ID PRODUCTO</th>
                                <th>NOMBRE</th>
                                <th>CATEGORIA</th>
                                <th>CANTIDAD</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Producto p in listP)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => p.idProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => p.nombreProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => p.nombreCategoria)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => p.cantidad)
                                    </td>
                                  

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>