﻿@{
    ViewData["Title"] = "Inventario::Distribuidores";
    Layout = "~/Views/Shared/_View.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-people-carry nav-icon"></i> Distribuidores</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../../Home/home">Home</a></li>
                        <li class="breadcrumb-item active">Distribuidores</li>
                    </ol>
                </div><!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Agregar Distribuidor</h3>
                </div>
                <form id="quickForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Rut</label>
                                    <div class="input-group">
                                        <input type="rut" name="rutEmp" class="form-control" placeholder="Rut a validar, ej: 11111111-1" aria-describedby="sizing-addon1" id="txt_rut">
                                        <span class="input-group-append">
                                            <button type="button" id="btnvalida" class="btn btn-info">Valida RUT</button>
                                        </span>
                                    </div>
                                    <p id="msgerror"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label for="nombreEmpresa">NOMBRE DE EMPRESA</label>
                                    <input type="text" name="nombreEmp" class="form-control" id="nombreEmpresa" placeholder="Favor ingresar nombre de la Empresa" minlength="4" maxlength="30">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label for="nombreContacto">NOMBRE DE CONTACTO</label>
                                    <input type="text" name="nombreCon" class="form-control" id="nombreContacto" placeholder="Favor ingresar nombre del contacto de la Empresa" minlength="4" maxlength="10">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label for="numeroContacto">NUMERO DE CONTACTO:</label>
                                    <input type="number" name="numCon" class="form-control" id="numeroContacto" placeholder="956347943 o 322503220" minlength="9" maxlength="9">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label for="calle">DIRECCION CALLE:</label>
                                    <input type="text" name="dir" class="form-control" id="calle" placeholder="Favor ingresar calle de la direccion de la EEmpresa" minlength="10" maxlength="20" >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label for="regiones">REGION:</label>
                                    <select id="regiones" class="form-control select2" >
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label for="comunas">CIUDAD O COMUNA:</label>
                                    <select id="comunas" class="form-control select2">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success" id="agregarUsuario">
                            Agregar <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Lista De Distribuidores</h3>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>NOMBRE EMPRESA</th>
                                <th>RUT</th>
                                <th>NOMBRE CONTACTO</th>
                                <th>NUMERO CONTACTO</th>
                                <th>ACCIONES</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ADMIN.LTDA</td>
                                <td>12345654-6</td>
                                <td>GABRIEL MARTINEZ</td>
                                <td>(+56)945698342</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn bg-gradient-info btn-sm">Detalles</button>
                                        <button type="button" class="btn bg-gradient-success btn-sm">Modificar</button>
                                        <button type="button" class="btn bg-gradient-warning btn-sm">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>