﻿@{
ViewData["Title"] = "Inventario::Factura";
Layout = "~/Views/Shared/_View.cshtml";

List<Factura> f = new List<Factura>(ViewBag.Message);


}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><i class="fas fa-file-contract nav-icon"></i> Facturas</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../../Home/home">Home</a></li>
                    <li class="breadcrumb-item active">Facturas</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-6">
                            <button class="nav-link btn btn-block bg-gradient-info btn_addFactura">
                                <i class="nav-icon fas fa-file-contract"></i> AGREGAR NUEVA FACTURA
                            </button>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th>NUMERO FOLIO</th>
                                    <th>NOMBRE EMPRESA</th>
                                    <th>FECHA INGRESO</th>
                                    <th>PRECIO TOTAL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var factura in f)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => factura.numFolio)</td>
                                        <td>@Html.DisplayFor(modelItem => factura.nombreEmpresa)</td>
                                        <td>@Html.DisplayFor(modelItem => factura.fechaIngreso)</td>
                                        <td>@Html.DisplayFor(modelItem => factura.precioTotal)</td>
                                        <td>
                                            <button type="button" class="btn bg-gradient-info btn-sm">Detalles</button>
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
</div>




<form id="quickForm1">
<div class="modal fade" id="factura_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>NUMERO DE FOLIO</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-file-contract nav-icon"></i></span>
                            </div>
                            <input type="text" class="form-control" data-inputmask='"mask": "99999999"' data-mask>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>RUT EMPRESA</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                            </div>
                            <input type="text" class="form-control" data-inputmask='"mask": "99999999-9"' data-mask>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>FECHA DE INGRESO</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" disabled id="fecha" readonly>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>PRECIO TOTAL</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <input type="text" class="form-control" data-inputmask='"mask": "$9999999"' data-mask>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table" id="tablaprueba">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info" onclick="agregarFila()">+</button>

                                    </div>
                                </th>
                            </tr>
                        <tbody id="producto">
                            <tr id="copia">
                                <td><input class="form-control" type="text" placeholder="Tinta"></td>
                                <td>
                                    <select class="form-control" name="Div" id="div">
                                        <option value="">Ofimatica</option>
                                        <option value="">Aseo</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="number" placeholder="" min="1" max="999" value="1"></td>
                                <td></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Ingresar Factura</button>
                <button type="reset" class="btn btn-success">Reset</button>
            </div>
        </div>
          
        </div>
    </div>
   
</form>





