﻿@{
    ViewData["Title"] = "Inventario::Formulario Factura";
    Layout = "~/Views/Shared/_View.cshtml";
} <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-file-contract nav-icon"></i> Facturas</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../../Home/home">Home</a></li>
                        <li class="breadcrumb-item active">Facturas</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                             <h4><i class="fas fa-file-contract nav-icon"></i> INGRESAR NUEVA FACTURA</h4>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="addFactura">
                            <form action="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>NUMERO DE FOLIO</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-file-contract nav-icon"></i></span>
                                                </div>
                                                <input type="text" class="form-control" data-inputmask='"mask": "99999999"' data-mask>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>RUT EMPRESA</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control" data-inputmask='"mask": "99999999-9"' data-mask>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>FECHA DE INGRESO</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="text" class="form-control" disabled id="fecha">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>PRECIO TOTAL</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                </div>
                                                <input type="text" class="form-control" data-inputmask='"mask": "$9999999"' data-mask>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table" id="tablaprueba">
                                            <thead class="thead">
                                                <tr>
                                                    <th scope="col">Producto</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">

                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info" onclick="agregarFila()">+</button>
                                                            
                                                        </div>
                                                     </th>
                                                </tr>
                                            <tbody id="producto">
                                                <tr id="copia">
                                                    <td><input class="form-control" type="text" placeholder="Tinta"></td>
                                                    <td>
                                                        <select class="form-control" name="Div" id="div">
                                                            <option value="">Ofimatica</option>
                                                            <option value="">Aseo</option>
                                                        </select>
                                                    </td>
                                                    <td><input class="form-control" type="number" placeholder="" min="1" max="10" value="1"></td>
                                                    <td></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                    <div class="col-md-6 offset-md-3 text-center">
                                        <button type="submit" class="btn btn-primary">Ingresar Factura</button>
                                        <button type="reset" class="btn btn-success">Reset</button>
                                    </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>





