﻿@{
    ViewData["Title"] = "Inicio de Sesion";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>Iniciar </b>Sesion</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Ingresa tus datos para conectarte</p>

        <form method="post" asp-controller="Home" asp-action="Index" >
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-12">
                    @ViewBag.Name
                    <input class="btn btn-primary btn-block" type="submit" value="Iniciar Sesion"> 
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!--ajax method -->
<!--<script>
    function sendData() {
        $.ajax({
            type: "GET",
            url: "https://www.codigo-alfa.cl/api/setLogin/",
            data: ({
                pass: $("#password").val(),
                mail: $("#email").val()
            }),
            success: function (response) {
                const obj = JSON.parse(response);
                if (obj.respuesta != -1) {

                    window.location = '/home/home'
                } else {
                    alert('Datos Incorrectos')
                }
            },
            error: function (response) {
                console.log(response)
            }

        })


    }


</script>-->
<!--ajax method -->