﻿@{
    ViewData["Title"] = "Inventario::RetirarProducto";
    Layout = "~/Views/Shared/_View.cshtml";

    List<Producto> listP= new List<Producto>(ViewBag.Message);
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-boxes nav-icon"></i> Salida Producto</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../../Home/home">Home</a></li>
                        <li class="breadcrumb-item active">Registrar Salida</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Lista de Productos</h3>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>ID PRODUCTO</th>
                                <th>NOMBRE</th>
                                <th>CATEGORIA</th>
                                <th>CANTIDAD</th>
                                <th>ACCIONES</th>

                            </tr>
                        </thead>
                        <tbody id="productRecords">
                            @foreach (Producto p in listP)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => p.idProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => p.nombreProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => p.nombreCategoria)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => p.cantidad)
                                    </td>
                                    <td><button type="button" id="editUser" data-idproducto="@p.idProducto" data-nombreproducto="@p.nombreProducto" data-cantidadproducto="@p.cantidad"  class="btn bg-gradient-success btn-sm editCantidad">Modificar Cantidad</button></td>

                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="quickForm">
    <div class="modal fade" id="edit_cantidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Cantidad Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Nombre del Producto</label>
                        <div class="col-md-10">
                            <input type="text" name="editnombreproducto" id="editnombreproducto" class="form-control" placeholder="Nombre" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Cantidad</label>
                        <div class="col-md-10">
                            <input type="number" name="editcantidadproducto" id="editcantidadproducto" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="editidproducto" id="editidproducto" class="form-control">
                        <button type="button"  id="btn_updateproduct" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
