﻿@{
    ViewData["Title"] = "Inventario::Usuarios";
    Layout = "~/Views/Shared/_View.cshtml";
    List<Usuario> u = new List<Usuario>(ViewBag.Message);
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row"></div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Agregar Usuario</h3>
                        </div>
                        <form id="quickForm">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="rut">Rut</label>
                                    <input type="rut" name="rut" class="form-control" id="rut" placeholder="Rut" minlength="4" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" minlength="4" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellido Paterno</label>
                                    <input type="text" name="apellidoP" class="form-control" id="apellidop" placeholder="Apellido" minlength="4" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellido Materno</label>
                                    <input type="text" name="apellidoM" class="form-control" id="apellidom" placeholder="Apellido" minlength="4" maxlength="10">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <div class="input-group">
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-info btn-flat">Random</button>
                                        </span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="typeUsuario">Tipo de Usuario</label>
                                    <select class="custom-select rounded-0" id="tipousuario">
                                        <option value="1">Administrador</option>
                                        <option value="2">Encargado de Bodega</option>
                                        <option value="3">Operador</option>
                                    </select>
                                </div>
                            </div>

                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" name="submit" class="btn btn-primary" id="agregarUsuario">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Lista de Usuarios</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>RUT</th>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO</th>
                                        <th>TIPO USUARIO</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody id="userRecords">

                                    @foreach (var user in u)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => user.rut)</td>
                                            <td>@Html.DisplayFor(modelItem => user.nombre)</td>
                                            <td>@Html.DisplayFor(modelItem => user.apellidoP)</td>
                                            <td>@Html.DisplayFor(modelItem => user.tipoUsuario)</td>
                                            <td>
                                                <div class="btn-group btn-group-sm" role="group">
                                                    <button type="button" id="editUser" data-rut="@user.rut" data-nombre="@user.nombre" data-apellidop="@user.apellidoP" data-apellidom="@user.apellidoM" data-contrasena="@user.password" class="btn bg-gradient-success btn-sm editUser">Modificar</button>
                                                    <button type="button" id="deleteUser" data-rut="@user.rut" class="btn bg-gradient-warning btn-sm deleteUser">Eliminar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- jquery-validation -->
<!-- MODAL PARA EDITAR USUARIO-->



<form id="quickForm1">
    <div class="modal fade" id="edit_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rut">Rut</label>
                        <input type="rut" name="editrut" class="form-control" id="editrut" placeholder="Rut" minlength="4" maxlength="10" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="editnombre" class="form-control" id="editnombre" placeholder="Nombre" minlength="4" maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido Paterno</label>
                        <input type="text" name="editapellidop" class="form-control" id="editapellidop" placeholder="Apellido" minlength="4" maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido Materno</label>
                        <input type="text" name="editapellidom" class="form-control" id="editapellidom" placeholder="Apellido" minlength="4" maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <div class="input-group">
                            <input type="password" name="editpassword" class="form-control" id="editpassword" placeholder="Contraseña">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat">Random</button>
                            </span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="typeUsuario">Tipo de Usuario</label>
                        <select class="custom-select rounded-0" id="edittipousuario">
                            <option value="1">Administrador</option>
                            <option value="2">Encargado de Bodega</option>
                            <option value="3">Operador</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button"  id="btn_updateuser" class="btn btn-primary">Actualizar Usuario</button>
                </div>
            </div>

        </div>
    </div>

</form>
